/* game.css */

div, canvas {
  margin: 0px;
}

body {
  background-color: #000;
  padding: 0px;
}

.scr_start {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99%;
  height: 99%;
  border: 0px solid #f00;
}
canvas {
  border: 0px dashed #777;
  background-color: #000;
}